<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.body %>
</p>
<%= link_to "Edit", edit_post_path %>
<!-- notice the difference between post_path and posts_path. post_path is specific to a post, where posts_path is a link to all posts -->
<%= link_to "Delete Post", post_path, method: :delete, data: { confirm: "are you sure?" } %>

<%= link_to 'Home', posts_path %>

